name: Deploy to Vercel (Development)

on:
  push:
    branches:
      - dev1 
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Vercel Deployment
        run: curl -X POST "https://api.vercel.com/v1/integrations/deploy/prj_EvZTtvz6yMiNHdWmSjEcz5S8c5nv/6QhQY7081t"